.btn-administrador{
    color: var(--azul);
    border: 1px solid var(--azul);
    text-decoration: none;
    padding: .8rem;
    font-weight: 400;
    transition: .3s ease;
}

.btn-administrador:hover{
    background-color: var(--azul);
    color: var(--blanco);
}


@media screen and (max-width:375px) {
    .btn-administrador{
        padding: .4rem 0;
        font-size: 14px;
    }
}