@import url("style.css");

body{
    background-color: var(--gris-claro1);
}

.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.search-modal{
    display: none;
}

/* HEADER STYLES */
header{
    background-color: var(--blanco);
}

.nav{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav__box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-search{
    position: relative;
    /* background-color: red; */
    width: 50%;
}

.box-search input{
    background-color: var(--gris-claro1);
    color: var(--gris-oscuro);
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 25px;
    width: 100%;
    padding: .6rem 1rem; 
}

.box-search input::placeholder{
    color: var(--gris-claro2);
}

.box-search i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: var(--gris-claro2);
    font-size: 18px;
}

.btn-login{
    color: var(--azul);
    border: 1px solid var(--azul);
    text-decoration: none;
    padding: .6rem 3rem;
    font-weight: 400;
    transition: .3s ease;
}

.btn-login:hover{
    background-color: var(--azul);
    color: var(--blanco);
}

.hero{
    width: 100%;
    height: 352px;
    background-image: url("/assets/img/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
}

.hero__text{
    padding-bottom: 2rem;
    color: var(--blanco);
}

.hero__title{
    font-size: 3.2rem;
    padding-bottom: 1rem;
}

.hero__paragrahp{
    font-size: 22px;
    padding-bottom: 2rem;
}

.hero__btn{
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 16px;
    padding: 1rem;
    text-decoration: none;
}

/* STYLES PRODCUTS */
.products-box{
    margin: 3.5rem 0;
}

.products__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.products-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.products-header h1{
    color: var(--gris-oscuro);
    font-size: 28px;
    font-weight: 700;
}

.products-header a{
    color: var(--azul);
    text-decoration: none;
    font-weight: 500;
}

.product-img img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.product-price{
    font-weight: 700;
    color: var(--gris-oscuro);
    padding: .5rem 0;
}

.ver-producto{
    color: var(--azul);
    font-weight: 600;
    text-decoration: none;
}

/* STYLES CONTACT */
.container__contact{
    background-color: var(--azul-claro);
    width: 100%;
}

.contact-box .box-logo-items{
    display: flex;
    gap: 3rem;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact-items{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-items li{
    list-style: none;
    color: var(--gris-oscuro);
    font-weight: 400;
}

.contact-form{
    width: 55%;
    /* background-color: red; */
    display: grid;
    gap: 1rem;
}

.contact-form h6{
    font-size: 18px;
    color: var(--gris-oscuro);
}

.form__group{
    position: relative;

}

.form__input{
    width: 100%;
    background: var(--blanco);
    font-size: 1rem;
    padding: .8em .3em;
    border: none;
    outline: none;
    color: var(--gris-oscuro);
    font-family: 'Poppins', sans-serif;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(0) scale(.7);
    transform-origin: left top;
    color: var(--azul);
}

.form__label{
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    color: var(--gris-claro2);
    cursor: pointer;
    transition: transform .5s, color .3s;
}

.form-btn{
    width: 144px;
    padding: .6rem ;
    border: none;
    color: var(--blanco);
    background-color: var(--azul);
    cursor: pointer;
}

.error{
    text-align: start;
    font-size: 13px;
    color: rgb(201, 91, 91);
    font-weight: 500;
    display: none;
}

footer{
    background-color: var(--blanco);
    text-align: center;
    padding: 3rem 0;
}

@media screen and (max-width:768px) {   
    .nav__box{
        gap: 1rem;
    }

    .box-search{
        width: 70%;
    }

    .contact-form{
        width: 65%;
    }

    .contact-box .box-logo-items{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

}

@media screen and (max-width:675px) {
    .nav__box{
        flex-direction: row-reverse;
    }

    .box-search{
        flex: 0 1 10%;
    }

    .box-search input{
        opacity: 0;
        visibility: hidden;
    }
    
    .box-search i{
        top: 50%;
        right: 11px;
        font-size: 22px;
        cursor: pointer;
    }

    .search-modal{
        display: block;
        width: 300px;
        background-color: var(--gris-claro2);
        position: absolute;
        top: 12vh;
        right: 12vh;
        padding: 1rem;
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in;
    }

    .search-modal.show{
        opacity: 1;
        visibility: visible;
    }

    .search-modal input{
        outline: none;
        border: none;
        border-radius: 25px;
        padding: .8rem;
        font-size: 16px;
        color: var(--gris-oscuro);
        width: 100%;
    }

    .contact-box{
        flex-direction: column;
        gap: 3rem;
    }


    .contact-box .box-logo-items{
        align-items: center;
        text-align: center;
    }

    .contact-form{
        width: 100%;
    }

}

@media screen and (max-width:550px) {
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .nav{
        gap: .5rem;
        padding: 2rem 1rem;
    }
    
    .logo{
        width: 200px;
        height: 40px;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }
    
    .hero__title{
        font-size: 26px;
    }
    
    .hero__paragrahp{
        font-size: 14px;
    }
}
